/* general styling*/
body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
}

.container {
    background-image: url("../images/paper.png");
    background-position: top left;
    position: relative;
    height: 100vh;
}

/* index page */
#start {
    margin-top: 16vh;
}

#start h1,
#category h1 {
    font-size: 3.5em;
    letter-spacing: 3px;
}

#category a {
    text-decoration: none;
}

.menu-box {
    text-align: center;
    padding: 30px;
}

.menu-button {
    background-color: #2d2d2d;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: .2s all linear;
    letter-spacing: 1px;
    font-size: 1.2em;
    outline: none;
    display: block;
    margin: 30px auto 30px auto;
    width: 250px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #565656
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* modal-box */
/* some parts of styling taken from www.w3schools.com */
.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation - code taken from w3schools.com*/
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    font-size: 2em;
}

.modal-body {
    padding: 2px 16px;
    font-family: arial;
    text-align: left;
    font-size: 1.3em;
}

/* gameboard page */
#sentence-board {
    padding: 26px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#lives {
    font-size: 29px;
    font-weight: bold;
    padding: 0 0 0 77px;
}

#refresh {
    position: absolute;
    top: 6px;
    right: 135px;
    cursor: pointer;
    opacity: .7;
    transition: .2s all linear;
}

#refresh:hover,
#home:hover {
    opacity: 1;
}

#home {
    position: absolute;
    top: 6px;
    right: 84px;
    cursor: pointer;
    opacity: .7;
    transition: .2s all linear;
}

#hangman {
    text-align: center;
}

#message {
    height: 60px;
    color: #ff0000;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
}

#alphabet {
    min-height: 260px;
    text-align: center;
    font-size: 30px;
}

.word {
    font-size: 20px;
}

.letter {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.letter:hover {

    color: gray;
    border: 2px solid gray;
}

.correct {
    background-color: #067c06;
    color: #fff;
    cursor: default;
}

.incorrect {
    background-color: #ff0000;
    color: #fff;
    cursor: default;
}

.inner {
    background-image: none;
    background-color:#376f32;
    margin: 0 auto -15px auto;
    transition: .2s all linear;
    font-size: 15px;
    width: 200px;
}

.inner:hover {
    background-color: #5b9452;
}

.win,
.fail {
    font-size: 38px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.win {
    color: green;
}

.fail {
    color: red;
}

.back-menu {
    margin: 0 auto;
    font-size: 15px;
    width: 200px;
}

.back-menu a {
    text-decoration: none;
    color: white;
}

/* media queries */
@media only screen and (max-width: 375px) {
    #lives {
        padding: 20px 0 0 25px;
        font-size: 20px;
    }

    #refresh {
        position: absolute;
        top: 15px;
        right: 80px;
    }

    #home {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    #sentence-board {
        padding-top: 15px;
    }

    #hangman {
        transform: scale(.6);
        margin-top: -50px;
    }

    #message {
        margin-top: -55px;
    }

    #alphabet {
        padding-top: 0;
        margin-top: -20px;
        font-size: 25px;
    }

    .win,
    .fail {
        font-size: 28px;
    }

    .letter {
        width: 20px;
    }

    .modal-box {
        padding-top: 60px;
    }

    .modal-content {
        width: 80%;
    }

    .modal-header h2 {
        font-size: 25px;
    }

    .modal-body {
        font-size: 1.05em;
    }
}

@media only screen and (min-width: 376px) and (max-width: 420px) {
    #lives {
        padding: 20px 0 0 25px;
        font-size: 20px;
    }

    #refresh {
        position: absolute;
        top: 15px;
        right: 80px;
    }

    #home {
        position: absolute;
        top: 15px;
        right: 25px;  
    }

    #sentence-board {
        padding-top: 40px;
    }

    #hangman {
        transform: scale(.70);
        margin-top: -50px;
    }

    #message {
        margin-top: -20px;
    }

    .letter {
        width: 25px;
    }

    .win,
    .fail {
        font-size: 33px;
    }

    .modal-box {
        padding-top: 60px;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #lives {
        padding: 25px 0 0 25px;
        font-size: 30px;
    }

    #refresh {
        position: absolute;
        top: 25px;
        right: 30px;
        transform: scale(1.5);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .modal-content {
        width: 40%;
    }

    .paper-card {
        width: 100%;
        max-width: 960px;
        /* margin: auto auto; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #sentence-board {
        padding: 0 0 65px 0;
        text-align: center;
        font-size: 50px;
        letter-spacing: 5px;
    }

    .box {
        float: left;
        width: 48%;
        min-height: 310px;
    }

    #hangman {
        text-align: left;
        padding-left: 52px;
    }

    .win,
    .fail {
        font-size: 38px;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .win {
        color: green;
    }

    .fail {
        color: red;
    }

    #alphabet {
        margin-top: -12px;
    }
}