body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 204, 204);
    font-size: 30px;
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

figure {
    margin: 0;
    padding:0;
}

.container {
    width: 860px;
    margin: auto auto;
}

#sentence-board {
    max-width: 860px;
    min-height: 50px;
    padding: 20px 0;
    border: 1px solid gray;
    text-align: center;
    margin: 50px 0;
    font-size:40px;   
}

img {
    max-width: 100%;
}

#hangman {
    min-height: 256px;
    border: 1px solid gray;
    text-align: center;
}

#alphabet {
    min-height: 260px;
    border: 1px solid gray;
    text-align: center;
}

.letter {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.letter:hover {
    
    color: gray;
    border: 2px solid gray;
}

.correct {
    background-color: #067c06;
    border: 2px solid #067c06;
    color: #fff;
}

.incorrect {
    background-color: #ff0000;
    border: 2px solid #ff0000;
    color: #fff;
}